<div class="scroll" style="overflow:hidden; max-height: 300px; height: 300px;">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span>Config List</span>
            <span class="badge badge-success badge-pill" (click)="addRestConfig()"><i class="fa fa-plus"></i></span>
        </div>

        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"
                *ngFor="let restConfig of restService.getRestConfigs(); index as i">
                <div (click)="onConfigSelected(restConfig)">{{restConfig.name}}</div>
                <div class="badge badge-danger badge-pill" (click)="deleteRestConfig(i)">
                    <i class="fa fa-minus"></i>
                </div>
            </li>
        </ul>
    </div>
</div>

