[access]
	inheritFrom = All-Projects
[project]
	description = A graphic design tool for service life cycle management workflow design.
[access "refs/*"]
	owner = group ldap/onap-gerrit-sdc-sdc-workflow-designer-committers
	owner = group saml/onap-gerrit-sdc-sdc-workflow-designer-committers
	read = group GitHub Replication
[submit]
	action = rebase if necessary
