$cursor-disabled: not-allowed !default;
$cursor-pointer: pointer;

@mixin body-1-emphasis() {
    @include base-font-semibold;
    font-size: $body-font-1;
}

@mixin heading-1-emphasis() {
    @include base-font-semibold;
    font-size: $heading-font-1;
}

.flex {
    display: flex;
    flex: 1;
}

.flex-column {
    @extend .flex;
    flex-direction: column;
}

.text-uppercase {
    text-transform: uppercase;
}

.content-area {
    padding: 30px 60px 70px 60px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    &.no-padding-content-area {
        padding: 0;
    }
}

.page-title {
    @include heading-1;
    @extend .text-uppercase !optional;
    margin-bottom: 20px;
    color: $blue;
}

.disabled {
    opacity: 0.7 !important;
    cursor: $cursor-disabled;
}
