.composition-view {
	display: flex;
	width: 100%;

	.bpmn-container {
		flex-basis: 100%;
		flex-grow: 1
	}
	.bpmn-sidebar {
		background-color: $light-silver;
		height: 100%;
		width: 320px;
		height: 100%;		
		label {
			//@include heading-5;
			@include body-1;
		}
		.group-label {
			@include heading-4-emphasis;
			font-size: 110%;
		}
		.properties-panel {
			background-color: $light-silver;
			max-height: 888px;
			overflow-y: auto;
			&, .bpp-properties-panel {
				background-color: $light-silver;
				#cam-extensionElements-remove-inputs,
				#cam-extensionElements-create-inputs,
				#cam-extensionElements-remove-outputs,
				#cam-extensionElements-create-outputs {
					display: none
				}

				#camunda-activitySelect-select {
					&.invalid {
						border-color: $camunda-panel-error-border-color;
						background-color: $camunda-panel-error-background-color;
					}
				}
			}
		}
		.composition-buttons {
			position: fixed;
			background-color: $light-silver;
			left: 265px;
			bottom: 46px;
			border: 1px solid $light-gray;
			width: 189px;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			height: 57px;
			align-items: center;
			padding: 10px;
			.divider {
				height: 35px;
    			border: 1px solid $light-gray;
			}
			.diagram-btn {
				
				&:hover {
					fill: $blue;
					cursor: pointer;
				}
				.svg-icon {
					width: 25px;
				    height: 23px;
				}
			}
		}
	}
}
