.composition-view {
	display: flex;
	width: 100%;

	.bpmn-container {
		flex-basis: 100%;
		flex-grow: 1
	}
	.bpmn-sidebar {
		height: 100%;
		.properties-panel {
			&, .bpp-properties-panel {
				height: 100%;
			}
		}
		.composition-buttons {
			position: fixed;
			background-color: #fafafa;
			left: 265px;
			bottom: 46px;
			border: 1px solid lightgray;
			width: 189px;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			height: 57px;
			align-items: center;
			padding: 10px;
			.divider {
				height: 35px;
    			border: 1px solid $silver;
			}
			.diagram-btn {
				
				&:hover {
					fill: $blue;
					cursor: pointer;
				}
				.svg-icon {
					width: 25px;
				    height: 23px;
				}
			}
		}
	}
}
