.general-page {
    @include body-1;
    padding: 0 100px 20px 100px;
    background-color: #fff;

    .general-page-title {
        height: 110px;
        line-height: 110px;
        @include heading-1-semibold;
        color: $dark-gray;
    }

    .general-page-content {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 30px;
        color: #444;

        .description-part textarea {
            height: 200px;
        }

        .version-info-part {
            background-color: $light-silver;
            height: 200px;
            margin-top: 25px;
            padding: 20px;
            box-sizing: border-box;
            .label {
                @include body-3;
                margin-bottom: 5px;
            }
            .value {
                margin-bottom: 10px;
            }
        }
    }
}
