.archive-label {
    @include body-3;
    color: $white;
    background-color: $dark-purple;
    margin-left: 20px;
    border-radius: 3px;
    padding: 1px 10px;
    align-self: center;
    text-transform: none;
}