
<p-tree *ngIf="parameters.length > 0" [value]="parameters">
        <ng-template let-node pTemplate="default">
            <div class="row">
                <div class="col-md-11">

                    <b4t-parameter [param]="getParameter(node)" [canEditName]="node.keyEditable" [valueSource]="valueSource" [planItems]="planItems"
                        [canDelete]="canDelete(node)" (paramChange)="paramChange($event, node)" (delete)="deleteTreeNode(node)"></b4t-parameter>
                </div>
            </div>
        </ng-template>

        <ng-template let-node  pTemplate="array">
            <div class="row">
                <div class="col-md-11">
                    <b4t-parameter [param]="getParameter(node)" [canEditName]="node.keyEditable" [valueSource]= "getObjectValueSource()"
                    [planItems]="planItems" [canDelete]="canDelete(node)" (paramChange)="paramChange($event, node)"
                    (delete)="deleteTreeNode(node)"></b4t-parameter>
                </div>
                <div class="col-md-1">
                    <i class="fa fa-plus-square-o" (click)="addChildNode4ObjectArray(node)"></i>
                </div>
            </div>
        </ng-template>

        <ng-template let-node pTemplate="object">
            <div class="row">
                <div class="col-md-11">
                    <b4t-parameter [param]="getParameter(node)" [canEditName]="node.keyEditable" [valueSource]= "getObjectValueSource()"
                    [planItems]="planItems" [canDelete]="canDelete(node)" (paramChange)="paramChange($event, node)"
                    (delete)="deleteTreeNode(node)"></b4t-parameter>
                </div>
                <div *ngIf="canAdd(node)" class="col-md-1">
                    <i class="fa fa-plus-square-o" (click)="addChildNode4DynamicObject(node)"></i>
                </div>
            </div>

        </ng-template>

        <ng-template let-node pTemplate="map">
            <div class="row">
                <div class="col-md-11">
                    <b4t-parameter [param]="getParameter(node)" [canEditName]="node.keyEditable" [valueSource]= "getObjectValueSource()"
                    [planItems]="planItems" [canDelete]="canDelete(node)" (paramChange)="paramChange($event, node)"
                    (delete)="deleteTreeNode(node)"></b4t-parameter>
                </div>
                <div *ngIf="canAdd(node)" class="col-md-1">
                    <i *ngIf="canAdd(node)" class="fa fa-plus-square-o" (click)="addChildNode4DynamicObject(node)"></i>
                </div>
            </div>
        </ng-template>
    </p-tree>
