.sdc-modal {
  .custom-modal-wrapper {
    padding: 35px 60px 20px 60px;
    width: auto;
  }

}

.modal-action-bar {
  display: flex;
  justify-content: flex-end;

  button:first-child {
    margin-right: 2em;
  }
}

textarea.field-section.sdc-input__input {
   height: 75px;
   padding-top: 5px;
}