.sdc-modal {
  .custom-modal-wrapper {
    width: auto;
  }

  .form-custom-modal {
    padding: 30px 35px 20px 35px;

    .sdc-input {
        margin-bottom: 15px;
    }
  }

}

.modal-action-bar {
  display: flex;
  justify-content: flex-end;
}

textarea.field-section.sdc-input__input {
   height: 75px;
   padding-top: 5px;
}