.workflow-app {
  height: 100%;
  * {
    box-sizing: border-box;
  }

  .version-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .custom-textarea {
    resize: none;
  }
}

#root {
  height: 100%;
}
