.workflow-app {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    * {
        box-sizing: border-box;
    }

    .custom-textarea {
        resize: none;
    }

    .version-wrapper {
        display: grid;
        grid-template-rows: 70px 1fr;
        height: 100vh;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    .selectable {
        user-select: text;
    }

    .separator {
        border-left: 1px solid $silver;
    }
}
